//variable declaration in list form fot links only
$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

body{
  margin-top:20px;
  background-color:#252525;
  margin-bottom:2em;

  .container-fluid{
    margin-left: 5%;
    margin-right: 5%;

      #elementHolder{
        margin: 0 auto;
        background-color: grey;
        overflow:hidden;
          .Elemental{
            margin:0px;
            position:relative;
            padding: 0px;
            float: left;
            background-color: white;
            display: inline-block;
            border-style: none;
            border-width: 0.5px;
            vertical-align: top;
          }
      }
      #info{
        margin-top: 30px;
        color:white;
        #{$a-tags} {
          color: yellow;
          text-decoration: none;
        }

    }

  }
}
